
            <div id="sidebar" class="users p-chat-user showChat">
                <div class="had-container">
                    <div class="card card_main p-fixed users-main">
                        <div class="user-box">
                            <div class="chat-inner-header">
                                <div class="back_chatBox">
                                    <div class="right-icon-control">
                                        <input type="text" class="form-control  search-text" placeholder="Search Friend"
                                            id="search-friends">
                                        <div class="form-icon">
                                            <i class="icofont icofont-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-friend-list">
                                <div class="media userlist-box" data-id="1" data-status="online"
                                    data-username="Josephin Doe" data-bs-toggle="tooltip" data-placement="left"
                                    title="Josephin Doe">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius img-radius"
                                            src="../files/assets/images/avatar-3.jpg" alt="Generic placeholder image ">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Josephin Doe</div>
                                    </div>
                                </div>
                                <div class="media userlist-box" data-id="2" data-status="online"
                                    data-username="Lary Doe" data-bs-toggle="tooltip" data-placement="left"
                                    title="Lary Doe">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius" src="../files/assets/images/avatar-2.jpg"
                                            alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Lary Doe</div>
                                    </div>
                                </div>
                                <div class="media userlist-box" data-id="3" data-status="online" data-username="Alice"
                                    data-bs-toggle="tooltip" data-placement="left" title="Alice">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius" src="../files/assets/images/avatar-4.jpg"
                                            alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Alice</div>
                                    </div>
                                </div>
                                <div class="media userlist-box" data-id="4" data-status="online" data-username="Alia"
                                    data-bs-toggle="tooltip" data-placement="left" title="Alia">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius" src="../files/assets/images/avatar-3.jpg"
                                            alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Alia</div>
                                    </div>
                                </div>
                                <div class="media userlist-box" data-id="5" data-status="online" data-username="Suzen"
                                    data-bs-toggle="tooltip" data-placement="left" title="Suzen">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius" src="../files/assets/images/avatar-2.jpg"
                                            alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Suzen</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="showChat_inner">
                <div class="media chat-inner-header">
                    <a class="back_chatBox">
                        <i class="feather icon-chevron-left"></i> Josephin Doe
                    </a>
                </div>
                <div class="d-flex chat-messages">
                    <div class="flex-shrink-0">
                        <a class="media-left photo-table" href="#!">
                            <img class="media-object img-radius img-radius m-t-5" src="../files/assets/images/avatar-3.jpg"
                                alt="Generic placeholder image">
                        </a>
                    </div>
                    <div class="flex-grow-1 chat-menu-content">
                        <div class="">
                            <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
                            <p class="chat-time">8:20 a.m.</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex chat-messages">
                    <div class="flex-grow-1 chat-menu-reply">
                        <div class="">
                            <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
                            <p class="chat-time">8:20 a.m.</p>
                        </div>
                    </div>
                    <div class="flex-shrink-0">
                        <div class="media-right photo-table">
                            <a href="#!">
                                <img class="media-object img-radius img-radius m-t-5"
                                    src="../files/assets/images/avatar-4.jpg" alt="Generic placeholder image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="chat-reply-box p-b-20">
                    <div class="right-icon-control">
                        <input type="text" class="form-control search-text" placeholder="Share Your Thoughts">
                        <div class="form-icon">
                            <i class="feather icon-navigation"></i>
                        </div>
                    </div>
                </div>
            </div>




<nav class="pcoded-navbar">
  <div class="pcoded-inner-navbar main-menu">

    <!-- DASHBOARD -->
    <div class="pcoded-navigatio-lavel">General</div>
    <ul class="pcoded-item pcoded-left-item">
      <li>
        <a href="#" data-modulo="dashboard">
          <span class="pcoded-micon"><i class="feather icon-home"></i></span>
          <span class="pcoded-mtext">Dashboard</span>
        </a>
      </li>
    </ul>

    <!-- COMERCIAL / INGRESOS -->
    <div class="pcoded-navigatio-lavel">Comercial / Ingresos</div>
    <ul class="pcoded-item pcoded-left-item">
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
          <span class="pcoded-micon"><i class="feather icon-shopping-cart"></i></span>
          <span class="pcoded-mtext">Ventas</span>
        </a>
        <ul class="pcoded-submenu">
          <!-- <li><a href="#" data-modulo="cotizaciones">Cotizaciones</a></li> -->
          <li><a href="#" data-modulo="facturas">Facturación</a></li>
          <!-- <li><a href="#" data-modulo="notas_credito">Notas de crédito</a></li> -->
          <!-- <li><a href="#" data-modulo="cxc">Cuentas por cobrar</a></li> -->
          <li class="pcoded-hasmenu">
            <a href="javascript:void(0)"><span class="pcoded-mtext">Catálogos</span></a>
            <ul class="pcoded-submenu">
              <li><a href="#" data-modulo="clientes">Clientes</a></li>
              <li><a href="#" data-modulo="formas_pago">Formas de pago</a></li>
              <li><a href="#" data-modulo="uso_cfdi">Uso CFDI</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <!-- EGRESOS -->
    <div class="pcoded-navigatio-lavel">Compras / Egresos</div>
    <ul class="pcoded-item pcoded-left-item">
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
          <span class="pcoded-micon"><i class="feather icon-credit-card"></i></span>
          <span class="pcoded-mtext">Compras</span>
        </a>
        <ul class="pcoded-submenu">
          <li><a href="#" data-modulo="requisiciones">Requisiciones</a></li>
          <li><a href="#" data-modulo="cotizaciones_proveedores">Cotizaciones</a></li>
          <li><a href="#" data-modulo="proyectos">Proyectos</a></li>
          <li><a href="#" data-modulo="ordenes_compra">Órdenes de compra</a></li>
          <li><a href="#" data-modulo="facturas_proveedor">Facturas Proveedor</a></li>
          <!-- <li><a href="#" data-modulo="notas_debito">Notas de débito</a></li> -->
          <!-- <li><a href="#" data-modulo="cxp">Cuentas por pagar</a></li> -->
          <li><a href="#" data-modulo="gastos">Gastos</a></li>
          <li class="pcoded-hasmenu">
            <a href="javascript:void(0)"><span class="pcoded-mtext">Catálogos</span></a>
            <ul class="pcoded-submenu">
              <li><a href="#" data-modulo="proveedores">Proveedores</a></li>
              <li><a href="#" data-modulo="productos">Productos</a></li>
              <li><a href="#" data-modulo="categorias_gasto">Categorías de gasto</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <!-- POS -->
    <!-- <div class="pcoded-navigatio-lavel">Punto de Venta (POS)</div>
    <ul class="pcoded-item pcoded-left-item">
      <li><a href="#" data-modulo="pos"><i class="feather icon-printer"></i> Punto de venta</a></li>
      <li><a href="#" data-modulo="cortes_caja">Cortes de caja</a></li>
    </ul> -->

    <!-- ALMACÉN -->
    <!-- <div class="pcoded-navigatio-lavel">Almacén</div>
    <ul class="pcoded-item pcoded-left-item">
      <li><a href="#" data-modulo="almacen">Entradas/Salidas</a></li>
      <li><a href="#" data-modulo="inventario">Inventario</a></li>
      <li><a href="#" data-modulo="kardex">Kardex</a></li>
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)"><span class="pcoded-mtext">Catálogos</span></a>
        <ul class="pcoded-submenu">
          <li><a href="#" data-modulo="productos">Productos</a></li>
          <li><a href="#" data-modulo="categorias">Categorías</a></li>
          <li><a href="#" data-modulo="unidades">Unidades</a></li>
        </ul>
      </li>
    </ul> -->

    <!-- TRANSPORTE -->
    <!-- <div class="pcoded-navigatio-lavel">Logística y Transportes</div>
    <ul class="pcoded-item pcoded-left-item">
      <li><a href="#" data-modulo="viajes">Viajes</a></li>
      <li><a href="#" data-modulo="cartas_porte">Cartas Porte</a></li>
      <li><a href="#" data-modulo="rutas">Rutas</a></li>
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)"><span class="pcoded-mtext">Catálogos</span></a>
        <ul class="pcoded-submenu">
          <li><a href="#" data-modulo="tractos">Tractos</a></li>
          <li><a href="#" data-modulo="dollys">Dollys</a></li>
          <li><a href="#" data-modulo="remolques">Remolques</a></li>
          <li><a href="#" data-modulo="gps">Dispositivos GPS</a></li>
        </ul>
      </li>
    </ul> -->

    <!-- MANTENIMIENTO -->
    <!-- <div class="pcoded-navigatio-lavel">Mantenimientos</div>
    <ul class="pcoded-item pcoded-left-item">
      <li><a href="#" data-modulo="servicios">Servicios programados</a></li>
      <li><a href="#" data-modulo="bitacoras">Bitácora</a></li>
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)"><span class="pcoded-mtext">Catálogos</span></a>
        <ul class="pcoded-submenu">
          <li><a href="#" data-modulo="talleres">Talleres</a></li>
          <li><a href="#" data-modulo="tipos_servicio">Tipos de servicio</a></li>
        </ul>
      </li>
    </ul> -->

    <!-- CRM / SOPORTE -->
    <!-- <div class="pcoded-navigatio-lavel">CRM y Soporte</div>
    <ul class="pcoded-item pcoded-left-item">
      <li><a href="#" data-modulo="tickets">Tickets</a></li>
      <li><a href="#" data-modulo="seguimiento">Seguimiento</a></li>
    </ul> -->

    <!-- REPORTES -->
    <div class="pcoded-navigatio-lavel">Reportes</div>
    <ul class="pcoded-item pcoded-left-item">
      <li><a href="#" data-modulo="reportes_ventas">Ventas</a></li>
      <li><a href="#" data-modulo="reportes_compras">Compras</a></li>
      <li><a href="#" data-modulo="reportes_gastos">Gastos</a></li>
      <!-- <li><a href="#" data-modulo="reportes_mantenimiento">Mantenimientos</a></li> -->
    </ul>


    <div class="pcoded-navigatio-lavel">RH</div>
    <ul class="pcoded-item pcoded-left-item">
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
          <span class="pcoded-micon"><i class="feather icon-users"></i></span>
          <span class="pcoded-mtext">RH</span>
        </a>
        <ul class="pcoded-submenu">
          <li><a href="#" data-modulo="empleados">Empleados</a></li>
        </ul>
      </li>
    </ul>

    <!-- CONFIGURACIÓN -->
    <!-- <div class="pcoded-navigatio-lavel">Configuración</div>
    <ul class="pcoded-item pcoded-left-item">
      <li><a href="#" data-modulo="usuarios">Usuarios</a></li>
      <li><a href="#" data-modulo="roles">Roles y permisos</a></li>
      <li><a href="#" data-modulo="sucursales">Sucursales</a></li>
      <li><a href="#" data-modulo="parametros">Parámetros del sistema</a></li>
    </ul> -->

  </div>
</nav>

